<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Cuadro de Mando Integral (CMI){% endblock %}</title>
    
    <!-- BOOTSTRAP STYLES -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJf+R8duf3P6gdoBfX1fDdZjHXoS6ecjDg0F1aQmb4FJ3MSECSvws+xIMy+M" crossorigin="anonymous">

    <!-- FONTAWESOME STYLES -->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES -->
    <link href="/static/css/custom.css" rel="stylesheet" />



    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <!-- FAVICON -->
    <link rel="icon" type="image/jpg" href="/static/img/favicon.jpg" />


</head>
<body>
    <div id="wrapper">
        <!-- Barra de navegación superior -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <span class="logout-spn">
                    <a href="#" style="color:#fff;">INICIO</a>
                </span>
            </div>
        </div>


        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
                    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="/perfil"><i class="fa fa-users"></i> Mi Cuenta</a></li>
                    <li><a href="/top_clientes"><i class="fa fa-users"></i> Top Clientes</a></li>
                    <li><a href="/top_incidencias"><i class="fa fa-warning"></i> Top Incidencias</a></li>
                    <li><a href="/empleados_resolucion"><i class="fa fa-clock-o"></i> Tiempo por Empleado</a></li>
                    <li><a href="/vulnerabilidades"><i class="fa fa-bug"></i> Vulnerabilidades</a></li>
                    <li><a href="/ejercicio_libre"><i class="fa fa-bar-chart-o"></i> Análisis Extra</a></li>
                    <li><a href="/prediccion_cliente"><i class="fa fa-line-chart"></i> Predicción Cliente</a></li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div id="page-inner">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="footer">
      
    
        <div class="row">
           <div class="col-lg-12" >
               &copy;  2025 CMI | Diseñado por: <a href="http://binarytheme.com" style="color:#fff;"  target="_blank">SemperFile</a>
           </div>
   </div>
   </div>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-QJHtvGhmr9p3pR3J9YfFQ9nDbC7Vq8Bo8v+16gZ2y9f6qYxzGHxk1tAdx6s5cb1z" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0tVxFgDZ9c4hmkDGLF5ujQxGzI3h/h67+GgGGU3BXYdkkj6X" crossorigin="anonymous"></script>

    <!-- CUSTOM SCRIPTS -->
    <script src="/static/js/custom.js"></script>
    <!-- FONTAWESOME SCRIPTS -->
    <script src="/static/js/fontawesome.js"></script>
    <!-- CHARTS SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
