{% extends 'base.html' %}

{% block title %}Inicio - Cuadro de Mando Integral{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Bienvenido al Cuadro de Mando Integral (CMI)</h2>
        <p>Este sistema proporciona análisis de datos y reportes para mejorar la eficiencia del SOC.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Dashboard</div>
            <div class="panel-body text-center">
                <p><a href="/dashboard">Miralo todo en un vistazo</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Top Clientes</div>
            <div class="panel-body">
                <p><a href="/top_clientes">Ver clientes con más incidencias</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Top Incidencias</div>
            <div class="panel-body">
                <p><a href="/top_incidencias">Ver tipos de incidencias más críticas</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Tiempo por Empleado</div>
            <div class="panel-body">
                <p><a href="/empleados_resolucion">Consultar empleados con mayor tiempo</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Vulnerabilidades</div>
            <div class="panel-body">
                <p><a href="/vulnerabilidades">Últimas 10 vulnerabilidades</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Análisis Extra</div>
            <div class="panel-body">
                <p><a href="/ejercicio_libre">Visualizaciones y reportes adicionales</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Predicción Cliente</div>
            <div class="panel-body">
                <p><a href="/prediccion_cliente">Ver cliente potencialmente crítico</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
