{% extends 'base.html' %}

{% block title %}Predicción de Cliente Crítico{% endblock %}

{% block content %}
<section>
    <h2>Predicción de Cliente Crítico</h2>
    <form method="POST" action="/prediccion_cliente">
        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" name="cliente" required>
        <label for="incidencias">Número de Incidencias:</label>
        <input type="number" id="incidencias" name="incidencias" required>
        <button type="submit">Predecir</button>
    </form>
    {% if resultado %}
    <p>Resultado de la predicción: {{ resultado }}</p>
    {% endif %}
</section>
{% endblock %}
